@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --gold: #FBA71F;
    --butter: #FFE382;
    --yellow: #FFD059;
    --mid-orange: #FC8616;
    --bright-orange: #FA681B;
    --deep-orange: #ED5615;
    --green: #B8C220;

}

body {
    background-image: url(./media/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    font-family: 'JetBrains Mono';
}

.top-bar {
    float: top;
    display: flex;
    background-color: var(--mid-orange);
    height: 70px;
    padding: 15px;
    justify-content: center;
    gap: 15px;
}

#city-name {
    color: white;
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;

}

.window {
    backdrop-filter: blur(10px);
    border: 5px solid var(--butter);
    border-radius: 15px;
    padding: 10px;
}

.left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.timer-container p {
    margin: 0;
}

#time-remaining {
    font-size: 18px;
}

#timer {
    font-size: 72px;
    font-weight: bold;
}

.right {
    width: 30%;
}